*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;;
}
.header-part{
    width: 100%;
    height: 63rem;
    background-image: url(images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10rem;
}
h1{
    font-size: 5rem;
    height: 20%;
   display: flex;
   align-items: center;
   font-weight: 700;
}
.font-oranges{
    color: orange;
    width: 38rem;
}
.left-header{
    width: 50%;
    padding-top:3rem;
}
.right-header{
    width: 50%;
    padding-top: 5rem;
}
.right-header img{
    width: 85%;
}
.text-style{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    height: 12%;
    display: flex;
    align-items: center;
}
.text-style-tow{
    text-align: start;
    width: 90%;
    color: dimgray;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.hireme-button{
    width: 15rem;
    height: 4.5rem;
    padding: 1rem 3rem;
    background: linear-gradient(
        45deg, lightsalmon, tomato);
        border: none;
        color: white;
        /* border-radius: 10px; */
        font-size: 1.6rem;
        font-weight: 600;
        position: relative;
       
        transition: all 1.5s;
        z-index: 1;
        text-decoration: none;
        overflow: hidden;
        display: block;
        text-align: center;
}
.hireme-button::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1.5s;
    background-color: orange;
}
.hireme-button:hover::before{
    transform: translateX(0%);
}
.hireme-button:hover{
    color: black;
    border: 1px solid black;
}
.horizintal-line{
    width: 100%;
    height: 5rem;
    display: block;
    display: flex;
    justify-content: center;
   
}
.line{
    background: linear-gradient(
        45deg, lightsalmon, tomato);
        width: 70%;
        height: 2px;
}
 /* -------dream big section------- */
 .Dream-big{
display: flex;
width: 100%;
height: 40rem;
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
 }
 .Dream-big-left{
  width: 50%;
  padding-right: 9rem; 
 
 
 
 }
 .Dream-big-left img{
        width: 80%;
        background-size: cover;
        float: right;
       
 }
 .Dream-big-right{
     width: 50%;
     padding-top: 3rem;
     background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
   

 }
 .Dream-big-right h1{
     height: 12rem;
 }
 .Dream-big-right .dream-para{
   font-size: 2rem;
   font-weight: 700;
   height: 5rem;
 }
 .Download-resume{
    width: 18rem;
    height: 4.5rem;
    background: linear-gradient(
        45deg, lightsalmon, tomato);
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
}